.main {
  display: block;
  width: 100%;
}
.ml2 {
  margin-left: 5px;
}
.sectiontitle{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 24px;
        color: #000000;
        line-height: 44px;
        font-weight: 400;
        margin: 0;
    }

}
.search {
  margin-right: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 16px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    background: url("/images/searchicon.svg") no-repeat center center;
    background-size: 16px;
  }
  span {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(10px, -11px);
    > svg {
      width: 9px;
      height: 9px;
    }
  }
}
.sectiontitlerit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}
.custom {
  margin: 0 !important;
}
:global(.my-masonry-grid) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  width: auto;
}
:global(.my-masonry-grid_column) {
  padding-left: 20px;
  background-clip: padding-box;
}

:global(.my-masonry-grid_column > div) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .sectiontitle {
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sectiontitlerit {
    width: auto;
    margin: 0;
  }
}

// loader
.loadingdots {
  text-align: center;
  z-index: 5;

  .dot {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
    top: -1em;
    font-size: 3.5em;
    opacity: 0;
    animation: showHideDot 2.5s ease-in-out infinite;

    &.one { animation-delay: 0.2s; }
    &.two { animation-delay: 0.4s; }
    &.three { animation-delay: 0.6s; }
  }
}

@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}
