.myreport{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 25px 30px;
    display: block;
    .report_head {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 15px;
    
        .leftsect{
            width: 25px;
        }
        .rightsect{
            padding-left: 33px;
            flex-grow: 1;
            h2{
                font-size: 20px;
                color: #212B36;
                line-height: 23px;
                font-weight: 500;
                margin: 0;
            }
            p{
                font-size: 13px;
                color: rgba(33, 43, 54, 0.75);
                font-weight: 400;
                line-height: 19px;
                margin: 0;
                margin-top: 8px;
            }
        }
    }    
    ul{
        margin: 0;
        padding: 0 0 0 50px;
        margin-top: 18px;
        li{
            padding: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            list-style: none;
            font-size: 14px;
            color: #1685D5;
            transition: all ease-in-out 0.5s;
            &:last-child{
                border-bottom: 0;
            }
            a{
                outline: none;
                text-decoration: none;
            }
            span{
                font-size: 14px;
                color: #1685D5;
                font-weight: 400;
                line-height: 25px;
                cursor: pointer;
                transition: all ease-in-out 0.5s;
            }
            &:hover {
                span {
                    color: #1685D5;
                }
            }
        }
    }
}