.label{
    font-size: 14px;
    color: rgba(33, 43, 54, 0.75);
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
    width: 100%;
}
.container{
    // width: 225px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
.select_area {
    width: 130px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    // margin: 0 18px 0 0;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}
// .datepick {
//     width: calc(100% - 150px);
// }
// :global(.DateRangePicker) {
//     width: 100%;
// }
// :global(.DateRangePickerInput) {
//     width: 100%;
// }
:global(.DayPicker) {
    width: 735px !important;
}
:global(.DayPicker > div > div) {
    width: 735px !important;
}
:global(.DayPicker_transitionContainer) {
    width: 735px !important;
    height: 440px !important;
}
:global(.CalendarDay__selected_span) {
    background: #5063FF !important;
    border: 1px double #7d8bff !important;
}
:global(.CalendarDay__selected),
:global(.CalendarDay__selected:active),
:global(.CalendarDay__selected:hover){
    background: #2f3cab !important;
    border: 1px double #7d8bff !important;
}
:global(.DayPickerKeyboardShortcuts_show__bottomRight::before) {
    border-right: 33px solid #5063FF;
}
:global(.DayPickerKeyboardShortcuts_show__bottomRight:hover::before) {
    border-right: 33px solid #2f3cab;
}
:global(.DateInput__small) {
    width: 90px;
}
:global(.DateInput_input__small) {
    line-height: 25px;
    font-size: 14px;
    padding: 7px 5px;
    border-bottom: none;
}
:global(.DateRangePickerInput_calendarIcon){
    padding: 9px;
    margin: 0;
}