.accordianblock{
  .accordiantitle{
    padding: 16px 20px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: flex;
    align-items: center;
      justify-content: space-between;
    h2{
      font-size: 13px;
      color: #212B36;
      line-height: 15px;
      font-weight: 500;
      margin: 0;
    }
    span{
      width: 20px;
      height: 20px;
      background: #5063FF;
      color:#fff;
      border-radius:50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .accordiancontent{
    padding: 0 20px;
    background: #FAFBFC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    height: 0;
    overflow: hidden;
    transition: .5s;
    &.open{
      height: auto;
      transition: .5s;
      padding:20px  20px;
    }
  }
}