.stepcontainer{
    width: 100%;
    display: flex;
}
.stepitem{
    width: 20%;
    display: inline-block;
    position: relative;
    &:before{
        content: "";
        width: calc(100% - 42px);
        position: absolute;
        right: calc(50% + 20px);
        top: 16px;
        height: 2px;
        background: #CCCFD3;
        display: block;
        z-index: 0;
    }
    &:first-child{
        &:before{
            display: none;
        }
    }
}
.stepcount{
    position: relative;
    z-index: 1;
    span{
        width: 32px;
        height: 32px;   
        background: transparent;
        border: 1px solid rgba(155, 160, 165, 0.45);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(80, 99, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #CCCFD3;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }

}
.stepdesc{
    position: relative;
    z-index: 1;
    font-size: 12px;
    line-height: 14px;
    color: rgba(33, 43, 54, 0.45);
    text-align: center;
    margin-top: 12px;
    text-transform: uppercase;
}
.stepitem{
    &.active{
        .stepcount{
            span{
                color:#fff;
                background: #5063FF;
                border: 1px solid #5063FF;
               
            }
           
        }
        &:before{
            background: #5063FF;

            }
    }
}