.sectionone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(23, 54, 48, 0.15);
  padding-bottom: 25px;
  h2 {
    font-size: 26px;
    color: #000000;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
  }
}
.container {
  display: block;
  width: 100%;
}
.sectionryt {
  display: flex;
  button {
    margin-top: 0 !important;
  }
}
.ml15 {
  margin-left: 15px;
  button, a {
    margin-top: 0 !important;
  }
}
.sectiontwo {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .leftsect {
    display: flex;
    z-index: 10;
    width: 375px;
  }
  .reportselect {
    width: 186px;
    margin-right: 18px;
  }
}
.rightsect {
  display: flex;
  margin-top: 25px;
  button {
    margin-top: 0 !important;
  }
}

.threerow {
  display: flex;
  margin: 0 -10px;
  // flex-wrap: wrap;
}
.threeitem {
  width: calc(100% - 20px);
  padding: 0;
  margin: 20px 10px 0;

  // @media (min-width: 1024px) {
  //   width: calc(100% / 4);
  // }
  // @media (min-width: 1300px) {
  //   width: calc(100% / 6);
  // }
}
.draganddrop {
  float: left;
  // width: 25%;
  width: 300px;
  > div {
    padding: 25px 0 !important;
  } 
}
.sectfour {
  margin: 20px 0;
}
.mt20 {
  margin-top: 20px;
}
