/* NOT NEEDED FOR PROGRESS BAR OR SLIDERS */
.container {
  display: block;
  display: flex;
  column-gap: 30px;
  padding: 20px;
}
.heading {
  margin: 0 auto;
  color: #2f2b2b;
  line-height: 24px;
  font-weight: 600;
  font-size: 15px;
}

.message {
  margin: 0 auto;
  color: rgb(96, 130, 149);
  line-height: 24px;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
}

.col1,
.col2 {
  width: 100%;
  height: 70px;
  padding: 0;
}
.col1 {
  float: left;
}
.col2 {
  color: #fff;
  float: right;
}

/* PROGRESS BAR - BASE */
.meter {
  height: 4px;
  position: relative;
  background: #dce0e3;
  border-radius: 30px;
}
.dark {
  background: #4d575f;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 30px;
  transition: width 2s;
  // -webkit-border-top-right-radius: 8px;
  // -webkit-border-bottom-right-radius: 8px;
  // -moz-border-radius-topright: 8px;
  // -moz-border-radius-bottomright: 8px;
  // border-top-right-radius: 8px;
  // border-bottom-right-radius: 8px;
  // -webkit-border-top-left-radius: 20px;
  // -webkit-border-bottom-left-radius: 20px;
  // -moz-border-radius-topleft: 20px;
  // -moz-border-radius-bottomleft: 20px;
  // border-top-left-radius: 20px;
  // border-bottom-left-radius: 20px;
  background-color: #386ab4;
  position: relative;
  overflow: hidden;
}
.meter > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 100%,
    color-stop(0.25, #009df8),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, #009df8),
    color-stop(0.75, #009df8),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    -45deg,
    #009df8 25%,
    transparent 25%,
    transparent 50%,
    #009df8 50%,
    #009df8 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    -45deg,
    #009df8 25%,
    transparent 25%,
    transparent 50%,
    #009df8 50%,
    #009df8 75%,
    transparent 75%,
    transparent
  );
  background-image: -ms-linear-gradient(
    -45deg,
    #009df8 25%,
    transparent 25%,
    transparent 50%,
    #009df8 50%,
    #009df8 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    -45deg,
    #009df8 25%,
    transparent 25%,
    transparent 50%,
    #009df8 50%,
    #009df8 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

/* PROGRESS BAR - ANIMATION */
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
::-ms-fill-lower {
  background: #58bfff;
}




.loader {
  margin: 0 auto 5px;
  position: relative;
}

.loader .loading_1 {
  position: relative;
  width: 100%;
  border-radius: 30px;
  height: 4px;
  top: -4px;
  animation: turn 4s linear 1.75s infinite;
}

.loader .loading_1:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #386ab448;
  animation: load 2s linear infinite;
}

.loader .loading_2 {
  position: absolute;
  width: 100%;
  top: 10px;
  color: #386ab4;
  font-size: 12px;
  text-align: center;
  animation: bounce 2s linear infinite;
}

@keyframes load {
  0% {
    width: 0%;
  }

  87.5% {
    width: 100%;
  }
}

@keyframes turn {
  0% {
    transform: rotateY(0deg);
  }

  6.25%,
  50% {
    transform: rotateY(180deg);
  }

  56.25%,
  100% {
    transform: rotateY(360deg);
  }
}
