.icon{
    margin-right: 12px;
}
.label{
    font-size: 13px;
    text-transform: capitalize;
    color: #212B36;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    margin-right: 8px;
}
.parentname{
    font-size: 12px;
    color: rgba(33, 43, 54, 0.45);
    line-height: 14px;
    font-weight: 400;
    margin-right: 8px;
}
.value{
    font-size: 12px;
    color: rgba(33, 43, 54, 0.45);
    line-height: 14px;
    margin-right: 8px;
    font-weight: 400;
}
.dragcontent{
    display: flex;
    align-items: center;
}
.close{
    cursor: pointer;
    margin-left: auto;
    svg{
        width: 10px;
        margin: auto;
        display: flex;
    }
}