.tablecontainer{
    width: 100%;
    overflow: auto;
}
.table{
    width: 100%;
    text-align: left;
    min-width: 1800px;
    border-collapse:separate; 
    border-spacing:0 8px; 
    thead{
        background: transparent;
        tr{
            th{
                padding: 15px 15px 15px 10px;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 14px;
                color: rgba(33, 43, 54, 0.55);
                font-weight: 400;
                position: relative;
                //   background:#ebeced;
                .sorticon{
                    vertical-align: middle;
                    position: absolute;
                    top: 50%;
                    right: 7px;
                    transform: translateY(-8px);
                }
                &:nth-child(1){
                    position: sticky;
                    left: 0;
                    z-index: 1;
                    // background:#ebeced;
                }
            }
        }
    }
    tbody{
        // background: #FFFFFF;
        box-sizing: border-box;
        border-collapse: collapse;
        tr{            
            transition: .5s;          
            td{
                padding: 15px 10px;
                font-size: 14px;
                color: rgba(33, 43, 54, 0.75);
                line-height: 20px;
                font-weight: 400;
                transition: .5s;
                background: #fff;
                // &:first-child {
                //     border-radius: 8px 0 0 8px;
                // }
                // &:last-child {
                //     border-radius: 0 8px 8px 0;
                // }
                .tdimage{
                    width: 50px;
                    height: 50px;
                    background: #FAFAFA;
                    border: 1px solid rgba(0, 0, 0, 0.06);
                    border-radius: 3px;
                    display: inline-flex;
                    vertical-align: middle;
                    margin-right: 16px;
                    img{
                        width: 80%;
                        margin: auto;
                    }
                }
                button {
                    max-width: 92px;
                    margin: 0 auto;
                }
                &:nth-child(1){
                    position: sticky;
                    left: 0;
                    z-index: 1;
                    overflow: hidden;
                }
                // &:last-child{
                //     span{
                //     visibility: hidden;
                //     }
                // }
                &:last-child {
                    min-width: 100px;
                }
                .loading {
                    width: 100% !important;
                    height: 100% !important;
                    position: absolute;
                    background: #5063FF;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: auto;
                        height: 75%;
                        display: inline-block;
                        vertical-align: middle;
                        // transform: scale(1.4);
                        margin: 0 !important;
                    }
                }
            }
            &:last-child{
              td{
                border-bottom: 0;
              }
            }
            &:hover{
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
                transition: .5s;
                td{   
                    &:last-child{
                        span{
                            visibility: visible;
                        }
                    }
                }
               
            }
            &.nocontent {
                box-shadow: none !important;
                &:hover {
                    box-shadow: none !important;
                }
                td {
                    background: transparent;
                }
            }
        }
    }
    tfoot{
        background: rgba(33, 43, 54, 0.05);
        td{
            padding: 24px;
            font-size: 14px;
            color: rgba(33, 43, 54, 0.75);
            line-height: 16px;
            font-weight: 400;
        }
    }
}
.icon{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    cursor: pointer;
    button {
        width: 30px !important;
        height: 30px;
        padding: 0;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: none!important;
        svg {
            fill: #696969;
        }
        &.edit:hover {
            svg {
                fill: #ffc800;
            }
        }
        &.delete:hover {
            svg {
                fill: #f13926;
            }
            // background: #f13926;
        }
        &:focus {
            border: none !important;
            outline: none !important;
        }
    }
    &:last-child{
        margin-right: 0;
    }
    // &:hover{
    //     svg{
    //         path{
    //             stroke: #5063FF;
    //         }
    //     }
    // }
}
.greentext{
    color: #50B83C;
    padding: 5px 14px;
    background: rgba(80,184,60, 0.25);
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    border: dashed 1px #50B83C;
    font-weight: 500;
}
.redtext{
    color: rgba(255, 0, 0, 0.85);
    // color: #50B83C;
    padding: 5px 14px;
    background: rgba(255, 0, 0, 0.15);
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 20px;
    border: dashed 1px rgba(255, 0, 0, 0.85);
    font-weight: 500;
}
.pagination{
    width: 158px;
    margin: 44px auto;

}