.nodata{
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px;
    margin: 0 auto;    
    svg {
        width: 100%;
        max-width: 300px;
        height: auto;
        display: block;
        margin: 0px auto;
    }
    text {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
    }
}