.form{

}
.label{
    position: relative;
    padding-left: 15px;
    span{
        position: absolute;
        left: 0;
        top: 0px;
        width: 16px;
    }
}
.input{
    height: 40px;
    font-size: 14px;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color:#000;
    max-width: 120px;
}
.border{
    background: #FFFFFF;
    border: 1px solid rgba(23, 54, 48, 0.15);
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    padding: 0 8px;
    .input{
        max-width: calc(100% - 15px);
    }
}