.input{
    background: url(/public/images/calendeicon.svg) #fafbfc no-repeat;
    background-position: 8px center;
    border: 1px solid rgba(217, 217, 217, 0.65);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 13px 17px;
    outline: none;
    padding-left: 28px;
    &.white {
        background: url(/public/images/calendeicon.svg) #ffffff no-repeat;
        background-position: 8px center;
    }
}
.custom {
    min-width: 0;
    width: 100%;
}
.medium{
    min-width: 282px;
}
.large{
    width: 100%;
}
.label{
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #212B36;
    font-weight: 400;
    margin-bottom: 8px;
}