.boxes{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 3);
    padding: 0 13px;
    margin-bottom: 30px;
    // @media (min-width:1024px){
    //     width: 25%;
    // }
}
.blockone{
    h2{
        text-align: center;
        color: #000000;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 40px;
    }
}
.schedule_area {
    width: 100%;
    display: block;
    height: 100%;
}