.row{
    max-width: 430px;
    margin-bottom: 24px;
}
.container h3{
    font-size: 18px;
    line-height: 21px;
    color: #212B36;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
}
.img{
    max-width: 200px;
}