.container {
  width: 100%;
  background: #f5f9fa;
  padding: 22px;
  h4 {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #212b36;
    margin: 0;
  }
  h5 {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #212b36;
    margin: 0;
    margin-top: 16px;
    padding-left: 16px;
    position: relative;
    &:before {
      content: '';
      width: 5px;
      height: 5px;
      background: #000;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin-top: 14px;
    font-size: 13px;
    line-height: 19px;
    color: rgba(33, 43, 54, 0.75);
    list-style: none;
    position: relative;
    padding-left: 20px;
    margin-left: 14px;
    &:before {
        content: '';
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 6px;
        border: 1px solid #9F9F9F;
    }
  }
}
